<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <div class="row match-height">
            <!-- Statistics Card -->
            <div class="col-xl-8 col-md-6 col-12">
                <div class="card card-statistics">
                <div class="card-header">
                    <h4 class="card-title">Statistics</h4>
                    <div class="d-flex align-items-center">
                    <p class="card-text font-small-2 mr-25 mb-0"></p>
                    </div>
                </div>
                <div class="card-body statistics-body">
                    <div class="row">
                    <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
                        <div class="media">
                        <div class="avatar bg-light-primary mr-2">
                            <div class="avatar-content">
                            <i data-feather="trending-up" class="avatar-icon"></i>
                            </div>
                        </div>
                        <div class="media-body my-auto">
                            <h4 class="font-weight-bolder mb-0">{{ coursCount }}</h4>
                            <p class="card-text font-small-3 mb-0">Cours</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
                        <div class="media">
                        <div class="avatar bg-light-info mr-2">
                            <div class="avatar-content">
                            <i data-feather="user" class="avatar-icon"></i>
                            </div>
                        </div>
                        <div class="media-body my-auto">
                            <h4 class="font-weight-bolder mb-0">{{ commentCount }}</h4>
                            <p class="card-text font-small-3 mb-0">Comment</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3 mb-2 mb-sm-0">
                        <div class="media">
                        <div class="avatar bg-light-danger mr-2">
                            <div class="avatar-content">
                            <i data-feather="box" class="avatar-icon"></i>
                            </div>
                        </div>
                        <div class="media-body my-auto">
                            <h4 class="font-weight-bolder mb-0">{{ positive }}</h4>
                            <p class="card-text font-small-3 mb-0">Positive</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="media">
                        <div class="avatar bg-light-success mr-2">
                            <div class="avatar-content">
                            <i data-feather="dollar-sign" class="avatar-icon"></i>
                            </div>
                        </div>
                        <div class="media-body my-auto">
                            <h4 class="font-weight-bolder mb-0">{{ negative }}</h4>
                            <p class="card-text font-small-3 mb-0">Negative</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <!--/ Statistics Card -->
        </div>

        
        <div class="row match-height">
            <div class="col-lg-6 col-12">
                <div class="card">
                     <!-- Search bar -->
            <div class="blog-search">
                <div class="input-group input-group-merge">
                <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Search by Cours ID" 
                    [(ngModel)]="searchText" 
                    (ngModelChange)="getCours()" 
                />
                <div class="input-group-append">
                    <span class="input-group-text cursor-pointer">
                    <i data-feather="search"></i>
                    </span>
                </div>
                </div>
            </div>
            <!--/ Search bar --> <br>
            <div class="card-body">
                <div class="row avg-sessions pt-50">
                    <div class="col-6 mb-2">
                      <p class="mb-50">Positive: {{ coursP }}</p>
      
                      <ngb-progressbar
                        type="primary"
                        [height]="'6px'"
                        [value]="avgP"
                      ></ngb-progressbar>
                    </div>
                    <div class="col-6">
                      <p class="mb-50">Negative: {{ coursN }}</p>
      
                      <ngb-progressbar
                        type="danger"
                        [height]="'6px'"
                        [value]="avgN"
                      ></ngb-progressbar>
                    </div>
                  </div>
                    </div>
                </div>
            </div>
            
           
        </div>
    </div>
</div>