<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
  
      <!-- Blog Edit -->
      <div class="blog-edit-wrapper">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <!-- Form -->
                <form action="javascript:;" class="mt-2" (ngSubmit)="onSubmit()">
                  <div class="row">
                    <div class="col-md-6 col-12">
                      <div class="form-group mb-2">
                        <label for="blog-edit-title">Title</label>
                        <input
                          type="text"
                          id="blog-edit-title"
                          name="blog-edit-title"
                          class="form-control"
                          [(ngModel)]="cours.title"
                        />
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group mb-2">
                        <label for="blog-edit-category">Skills</label>
  
                        <ng-select
                          [(ngModel)]="cours.skills"
                          [multiple]="true"
                          [closeOnSelect]="false"
                          placeholder="Select Skill"
                        >
                          <ng-option *ngFor="let skill of skills" 
                            [value]="skill.id"
                          >
                            {{skill.title}}
                          </ng-option>
                        
                        </ng-select>
                        
                       
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="form-group mb-2">
                        <label for="blog-edit-category">Category</label>
  
                        <select
                        class="form-control"
                        [(ngModel)]="cours.categoryId"
                        id="blog-edit-status"
                        name="blog-edit-status"
                        >
                        <option *ngFor="let category of categories" value="{{ category.id }}">{{ category.title }}</option>
                        </select>

                        
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group mb-2">
                        <label>Content</label>
                        <quill-editor [(ngModel)]="cours.description" name="quill-content"> </quill-editor>
                      </div>
                    </div>
                    <div class="col-12 mb-2">
                      <div class="border rounded p-2">
                        <h4 class="mb-1">Cours Image</h4>
                        <div class="media flex-column flex-md-row">
                          
                          <div class="media-body">
                            <small class="text-muted">Required image resolution 800x400, image size 10mb.</small>
                            
                            <div class="d-inline-block">
                              <div class="form-group mb-0">
                                <div class="custom-file">
                                  <input
                                    type="file"
                                    class="custom-file-input"
                                    id="blogCustomFile"
                                    accept="image/*"
                                    (change)="uploadImage($event)"
                                  />
                                  <label class="custom-file-label" for="blogCustomFile">Choose Img</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-50">
                      <button type="submit" class="btn btn-primary mr-1" rippleEffect>Add</button>
                    </div>
                  </div>
                </form>
                <!--/ Form -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ Blog Edit -->
    </div>
  </div>
  